<div class="container">

  <div class="row">

    <div class="col-md-2">
      <div>
        <ul *ngIf="villes" class="nav nav-pills nav-stacked clickable">
          <li [ngClass]="v==currentVille?'active':''"  *ngFor="let v of villes._embedded.villes" (click)="onGetCinema(v)"><a>{{v.name}}</a></li>
        </ul>
      </div>
    </div>

    <!--cinemas->salles->projections-->
    <div class="col-md-10">

      <div class="panel panel-default">
       <div class="panel-heading">Cinema</div>
       <div class="panel-body">
        <ul class="nav nav-pills nav-justified" *ngIf="cinemas">
          <li [ngClass]="c==currentCinema?'active':''"  class="  clickable" *ngFor="let c of cinemas._embedded.cinemas" (click)="onGetSalles(c)">
            <a>{{c.name}}</a>
          </li>
        </ul>

        <div class="row" *ngIf="salles">
          <div *ngFor="let s of salles._embedded.salles"  >
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">{{s.name}}</div>
                 <div class="panel-body" *ngIf="s.projections">
                   <div class="row">
                     <div class="col-md-4">
                       <img style="height: 200px ;width: 150px;padding-top:11px" src="{{'assets/static/images/'+s.projections._embedded.projections[0].film.id+'.jpg'}}"/>
                     </div>

                     <div class="col-md-8">
                       <ul class="list-group">
                         <li class="list-group-item">Seance:</li>
                         <li class="list-group-item clickable" [ngClass]="p==currentProjection?'active':''" (click)="onGetTicketsPlaces(p)" *ngFor="let p of s.projections._embedded.projections "><span>{{p.seance.heureDebut}} => prix:{{p.prix|number:'0.00'}} $</span> </li>

                       </ul>

                 </div>

            </div>
                   <div *ngIf="currentProjection">
                     <div >
                       <div  >
                         <div class="row" *ngIf="currentProjection.salle.id==s.id">
                           <button [disabled]="t.reserve==true"   *ngFor="let t of currentProjection.tickets._embedded.tickets" class="{{getTicketClass(t)}}" (click)="onSelectTicket(t)">
                             {{t.place.numero}}
                           </button>
                           <p></p>
                           <div *ngIf="selectedTickets.length>0">
                             <form #f="ngForm" (ngSubmit)="onPayeTickets(f.value)">
                               <div class="form-group">
                                 <label class="control-label">Nom Client              </label>
                                 <input class="form-control" type="text" name="nomClient" ngModel="">
                               </div>
                               <div class="form-group">
                                 <label class="control-label">Numero de Payement  </label>
                                 <input class="form-control" type="text" name="numPay" ngModel="">
                               </div>
                               <button type="submit" class="btn btn-success">Valider</button>
                             </form>
                           </div>
                         </div>
                       </div>
                     </div>




                   </div>

          </div>



        </div>

     </div>

  </div>

  </div>
 </div>
</div>
    </div>
  </div>
</div>
